body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.authBlock {
    display: flex;
    flex-direction: column;
    width: 610px;
    padding: 30px 50px;
    align-items: center;
    margin: 0 auto;
    background-color: #F3F3F3;
    border-radius: 25px;
}

.switcher {
    display: flex;
}

.options {
    padding: 5px 40px;
    width: 200px;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
}

#option_one {
    background-color: #98D636;
    color: white;
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
}

#option_two {
    background-color: #E1E1E1;
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
}


input {
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    background-color: #E1E1E1;
    border: none;
    outline: none;
    padding: 5px 0;
    border-radius: 7px;
}


::placeholder {
    color: #A3A3A3;
}

#organizationName {
    display: none;
}

#buttonAuth {
    font-size: 30px;
    color: white;
    border: none;
    outline: none;
    background-color: #98D636;
    padding: 5px 50px;
    border-radius: 7px;
    cursor: pointer;
}