.createEventInput[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.createEventInput[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.createEventInput[type=submit]:hover {
    background-color: #45a049;
}

.formCreateEvent {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 50px;
    margin-bottom: 30px;
}

.formCreateEvent form {
    display: flex;
    flex-direction: column;
}

.photoEventInput {
    margin: 20px 0;
}

.app-label{
    width: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: white;
    pointer-events: none;
}

.map-container{
    height: 400px;
    width: 100%;
}

.clicked-coord-label{
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
    border-radius: 5px;
}

.ol-viewport {
    display: none;
}

.ol-viewport:last-of-type {
    display: unset;
}