@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.profileBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
}

.backGroundProfile {
    width: 100%;
    position: absolute;
    height: 300px;
    background-color: #98D636;
}

.infoProfileBoxMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    margin-top: 150px;
}

.avatar {
    width: 300px;
    height: 300px;
}

.fullNameProfile {
    font-size: 40px;
    font-weight: bold;
}

.roleProfile {
    background-color: #98D636;
    color: white;
    padding: 5px 20px;
    border-radius: 3px;
    margin: 20px 0;
}

.infoProfileBox {
    display: flex;
    align-self: start;
    align-items: center;
    margin-bottom: 20px;
}

.infoProfileBox:last-of-type {
    margin-bottom: 0;
}

.profileIcon {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 20px;
}

#emailIcon {
    width: 60px;
    height: 60px;
    margin-left: 0;
    margin-right: 15px;
}

.backGroundInfo {
    width: calc(100% - 14px);
    background-color: #F3F3F3;
    padding: 15px;
    border-radius: 7px;
}

.infoProfileDisc {
    font-size: 18px;
}

.infoProfileResponseResult {
    font-weight: bold;
}

.profileButtonBox {
    margin: 30px 0;
}

.profileButton {
    font-family: "Roboto", sans-serif;
    border: none;
    background-color: #98D636;
    border-radius: 3px;
    color: white;
    font-size: 28px;
    width: 250px;
    padding: 5px 0 8px 0;
}

.profileButton:first-of-type {
    margin-right: 40px;
}

.logout {
    background-color: #D67036;
}